.custom-marquee {
    position: relative;
    width: 100vw;
    max-width: 100%;
    height: 43px;
    overflow-x: hidden;
    background: #c29958;
    color: #ffffff;
  }

  
  /* .track{
    white-space: nowrap;
    animation:marquee 20s linear infinite;
  } */
  
  .custom-marquee .track {
    position: absolute;
    bottom: 6px;
    white-space: nowrap;
    white-space-collapse: collapse;
    text-wrap: nowrap;
    will-change: transform;
    animation: marquee 20s linear infinite;
  }
  
  .custom-marquee .content {
    margin-left: 40px;
  }
  
  @keyframes marquee {
    from {
      transform: translateX(100vw);
    }
    to {
      transform: translateX(-100vw);
    }
  }
  
  .heading {
    text-align: center;
    padding: 40px;
    font-size: 45px;
    color: black;
    transform: scale(1.4);
    animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
  }
  
  @keyframes scale {
    100% {
      transform: scale(1);
    }
  }